@import 'compass';

.funky {
  font: {
    family: fantasy;
    size: 5em;
    weight: bold;
  }
}

.fakeshadow {
  border: {
    style: solid;
    left: {
      width: 200px;
      color: #00FF00;
    }
    right: {
      width: 200px;
      color: #FF0000;
    }
    }
}
