/* line 3, ../sass/test1.scss */
.funky {
  font-family: fantasy;
  font-size: 5em;
  font-weight: bold;
}

/* line 11, ../sass/test1.scss */
.fakeshadow {
  border-style: solid;
  border-left-width: 200px;
  border-left-color: #00FF00;
  border-right-width: 200px;
  border-right-color: #FF0000;
}
